h1, h2{
  text-align: center;
}

h3, h4 {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
}

h4 {
  margin-left: 20%;
}

.border {
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5px;
  /*background-color: rgb(141, 220, 244);*/
  border-bottom: 1px rgb(31, 195, 245) solid;
}

main {
    display: flex;
    justify-content: center;
  }

.container {
  margin-top: 20px;
}

.button__div {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(31, 195, 245);
  margin: 2px;
  color: white;
}

.leftTopCorner {
  border-radius: 10% 0 0 0;
}

.rightTopCorner {
  border-radius: 0 10% 0 0;
}

.rightBottomCorner {
  border-radius: 0 0 10% 0;
}

.leftBottomCorner {
  border-radius: 0 0 0 10%;
}

/* .rectangle{
  fill: rgb(40, 163, 204);
  border: 5px solid olive;
  padding: 0px;
  margin: 0%;
}

.text{
  display: none;
  font-size: 30px;
  fill: antiquewhite;
} */